body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f4f4f4;
    color: #004080;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    float: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #003366;
    overflow: hidden;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
}

.titulo {
    font-size: 24px;
    color: #f4f4f4;
    margin-top: 20px;
}

main {
    padding: 20px;
    background-color: #003366;
    color: #f4f4f4
}

.produto-destaque {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.image {
    width: 100%;
    height: 800px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}